<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <title>
        {% block title %}
            Мой сайт
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="my_header">
    <lu class="bar">
        <li>
            <a href="{{ url_for('index') }}">Мой сайт</a>
        </li>

    </lu>
</div>

<div class="main">
    {% block content %}
        <a href="{{ url_for('login') }}"><button>Войти</button></a><br>
        <p></p>
        <a href="{{ url_for('register') }}"><button>Зарегистрироваться</button></a>
    {% endblock %}
</div>

<div class="my_footer">
    <div>Телефон для связи: 322-22-33-23</div>
</div>

</body>
</html>