        .my_header {
            background: lightgreen;
        }

        .bar {
            padding: 20px;
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        .main {
            background:lightgoldenrodyellow;
            padding: 30px;
        }


        .my_footer {
            padding: 20px;
            background: lightgreen;
            color: blue;
        }

